{% extends "DreamsDreamBundle::base.html.twig" %}

{% block title %} Ajouter un rêve {% endblock %}

{% block content %}

    <h2>Ajouter un <span class="text-danger">rêve</span>.</h2><br />

    {% if message %}
        {% if error == 0 %}
            <div class="row">
                <div class="col-lg-8">
                    <div class="alert alert-dismissable alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ message }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-lg-8">
                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-lg-8">
            <div class="well">
                <form class="bs-example form-horizontal" action="{{ path('dreams_dream_create') }}" method="post" {{ form_enctype(form) }}>
                    <fieldset>
                        <legend>Quel rêve avez-vous fait cette nuit ?</legend>
                        <div class="form-group">
                            {{ form_label(form.title) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.title) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.description) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.description) }}
                                <span class="help-block">La description du rêve ne doit pas dépasser 500 caractères.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.category) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.category) }}
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-4-5">
                                <a href="{{ path('dreams_dream_show') }}">
                                    <input type="button" class="btn btn-default" value="Annuler" />
                                </a>
                                <input type="submit" class="btn btn-primary" value="Ajouter" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <ul class="pager">
                <li><a href="{{ path('dreams_dream_show') }}">Retour à la liste des rêves</a></li>
            </ul>
        </div>
    </div>

{% endblock %}