{% extends "DreamsDreamBundle::base.html.twig" %}

{% block title %} Liste des rêves {% endblock %}

{% block content %}

    <h2>Liste des derniers <span class="text-danger">rêves</span>.</h2><br />

    {% for dream in dreams %}

        <div class="row">
            <div class="col-lg-8">
                {% if dream.category == 'Rêve' %}
                    <div class="panel panel-info">
                {% else %}
                    <div class="panel panel-danger">
                {% endif %}
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ dream.title }}</h3>
                        </div>
                        <div class="panel-body">
                            {{ dream.description }}
                        </div>
                        <div class="panel-footer">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <span class="text-primary">
                                            {% if dream.category == 'Rêve' %}
                                            <small><strong>Catégorie :</strong> Rêve</small>
                                            {% else %}
                                                <small><strong>Catégorie :</strong> Cauchemar</small>
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td width="30%">
                                        <span class="text-success">
                                            <small><strong>Auteur :</strong> Anonyme</small>
                                        </span>
                                    </td>
                                    <td width="25%">
                                        <small>
                                            <a href="">Commentaires <span class="badge">{{ random(50) }}</span></a>
                                        </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="35%">
                                        <span class="text-warning">
                                            <small>
                                                <strong>Créé le</strong>
                                                {{ dream.dateCreate|date('d/m/Y') }}
                                                <strong>à</strong>
                                                {{ dream.dateCreate|date('H:i')|replace({':': 'h' }) }}
                                            </small>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-8">
                <div class="well well-lg">
                    Il n'y a aucun rêve pour le moment.
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}