<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %}</title>

        <link href=" {{asset('bundles/bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css" />
        <link href=" {{asset('bundles/bootstrap/css/bootswatch.min.css')}}" rel="stylesheet" type="text/css" />

        <script src="{{asset('bundles/bootstrap/js/jquery.min.js')}}"></script>
        <script src="{{asset('bundles/bootstrap/js/jquery.highlight-4.js')}}"></script>
        <script src="{{asset('bundles/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('bundles/bootstrap/js/bootswatch.js')}}"></script>

        {% block javascripts %}{% endblock %}
    </head>
    <body>

    <div class="navbar navbar-default navbar-fixed-top">
    <!-- Conteneur principal -->
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path('dreams_dream_show') }}" class="navbar-brand">Dreams</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" id="themes">Top rêves<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a tabindex="-1" href="#">Top du jour</a></li>
                            <li><a tabindex="-1" href="#">Top de la semaine</a></li>
                            <li><a tabindex="-1" href="#">Top du mois</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" id="themes">Top cauchemars<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a tabindex="-1" href="#">Top du jour</a></li>
                            <li><a tabindex="-1" href="#">Top de la semaine</a></li>
                            <li><a tabindex="-1" href="#">Top du mois</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('dreams_dream_create') }}">Proposer un rêve ?</a>
                    </li>
                </ul>
                <!-- Champ de recherche -->
                <form class="navbar-form navbar-right" action="{{ path('dreams_dream_search') }}" method="get">
                    <input type="text" class="form-control col-lg-8" placeholder="Rechercher..." id="search" name="search" />
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="col-lg-3 sidemenu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <img src="{{ asset('bundles/dreamsdream/images/glyphicon_user.png') }}" width="18px" style="margin-right: 5%;" />
                                {{ app.user.username }}
                                (<a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>)
                            </h2>
                        </div>
                        <div class="panel-body">
                            <a href="{{ path('dreams_dream_mylist') }}">Liste de mes rêves</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-3 sidemenu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <img src="{{ asset('bundles/dreamsdream/images/glyphicon_user.png') }}" width="18px" style="margin-right: 5%;" />
                                Connexion
                            </h2>
                        </div>
                        <div class="panel-body">
                            <a href="{{ path('fos_user_security_login') }}">Identifiez-vous !</a><br /><br />
                            <a href="">Pas encore inscrit ?</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    <footer>
        <p>Ici se trouve le footer.</p>
    </footer>

    </div>

    </body>
</html>
